/*--------------------- Fonts ---------------------*/

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Semi/Poppins-SemiBold.woff2') format('woff2'),
     url('../fonts/Poppins-Semi/Poppins-SemiBold.woff') format('woff');
}
@font-face {
    font-family: 'Poppins-regular';
    src: url('../fonts/Poppins-Reg/Poppins-Regular.woff2') format('woff2'),
     url('../fonts/Poppins-Reg/Poppins-Regular.woff') format('woff');
}

/*--------------------- Responsive ---------------------*/

@media screen and (min-width:1200px) {
    .containerAccountPage {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .containerAccountComp {
        margin-left: 20vw;
        width: 65%;
    }
    .accountCompCont {
        gap: 2vw;
    }
    .accountCompCont {
        flex-direction: row;
    }
    .underlineAccountPage {
        width: 100%;
    }
    .containerEmail {
        padding: 1rem;
        margin: 1rem;
    }
}

@media screen and (min-width:900px) and (max-width:1200px) {
    .containerAccountPage {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-right: 15vw;
    }
    .accountCompCont {
        flex-direction: column;
    }
    .underlineAccountPage {
        width: 100%;
    }
    .containerEmail {
        padding: 1rem;
        margin: 1rem;
    }
}

@media screen and (max-width:900px) and (min-width:700px)  {
    .containerAccountPage {
        display: flex;
        flex-direction: column;
    }
    .accountCompCont {
        flex-direction: row;
    }
    .underlineAccountPage {
        width: 95%;
    }
    .containerAccountComp {
        margin-left: 1vw;
    }
    .containerEmail {
        padding: 1rem;
        margin: 1rem;
    }
}

@media screen and (max-width:700px) {
    .containerAccountPage {
        display: flex;
        flex-direction: column;
    }
    .accountCompCont {
        flex-direction: column;
    }
    .containerAccountComp {
        align-items: center;
    }
    .underlineAccountPage {
        width: 95%;
    }
    .accountInformationMsg{
        text-align: center;
    }
    .containerEmail {
        margin: 0.8rem;
        padding: 0.8rem;
    }
}

/*--------------------- Global ---------------------*/

body {
    background-color: #32333B;
    margin: 0;
}

/*--------------------- Containers ---------------------*/

.accountCompContGlobal{
    width: max-content;
}

.accountCompCont {
    font-family: 'Poppins-regular';
    background-color: #28292F;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    align-items: center;
    justify-content: space-around;
    display: flex;

}

.containerEmail {
    background-color: #32333B;
    border-radius: 15px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.containerEditEmail {
    align-items: center;
    gap: 1vw;
}

.backgroundAccountCont {
    background-color: #D97136;
    border-top-right-radius: 15px ;
    border-top-left-radius: 15px ;
    width: 100%;
    height: 3rem;
}

.containerAccountComp {
    gap: 2vh;
}

.marginContentAccount {
    margin-left: 1vw;
}

/*--------------------- Texts ---------------------*/

.mainCatAccount {
    font-family: 'Poppins';
    font-size: 1.2rem;
    color: whitesmoke;
}

.usernameAccount {
    font-family: 'Poppins-regular';
    color: whitesmoke;
}

.accountCompEmail  {
    color: whitesmoke;
}

.accountCompEmailUser {
   color: #8D8D8D;
}

.googleEditIcon {
    color: #8D8D8D;
    user-select: none;
    cursor: pointer;
}

.accountInformationMsg{
    color: #A0A0A0;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-family: 'Poppins-regular';

}

/*--------------------- Buttons ---------------------*/

.btnChangePassword {
    background-color: #D97136;
    width: max-content;
    border-radius: 5px;
    color: whitesmoke;
    border: 3px solid #D97136;
    padding: 0.5rem 1rem;
    font-family: 'Poppins-regular';
    font-weight: 900;
    min-width: 11rem;
}

.btnChangePassword:hover {
    background-color: transparent;
    transition: 0.5s;
    cursor: pointer;
}


.btnDeleteAccount {
    background-color: transparent;
    width: max-content;
    border-radius: 5px;
    min-width: 11rem;
    color: whitesmoke;
    border: 3px solid #D97136;
    padding: 0.5rem 1rem;
    font-family: 'Poppins-regular';
    font-weight: 900;
}

.btnDeleteAccount:hover {
    background-color: #D97136;
    transition: 0.5s;
    cursor: pointer;
}

/*--------------------- Others ---------------------*/

.underlineAccountPage {
    height: 0.1rem;
    background-color: #A0A0A0;
    border-radius: 999px;
}

.imgAccount {
    width: 6rem;
    height: 6rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 999px;
    margin: 1rem;
}

/*--------------------- Popup ---------------------*/

#popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    visibility: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.deletePopup {
    padding: 1rem;
    border-radius: 5px;
    background-color: #28292F;
}

.delPopBtnCont {
    justify-content: flex-end;
    margin-top: 1vh;
    gap: 1vw;
}

.delPopBtnCancel{
    background-color: transparent;
}

.delPopBtnDelete{
    background-color: #D97136;
}

.delPopBtn{
    padding: 0.5rem 0.4rem;
    font-size: 0.8rem;
    font-weight: 900;
    border-radius: 5px;
    font-family: 'Poppins-regular';
    border: 2px solid #D97136;
    color: #DADADA;
}

.delPopBtnCancel:hover {
    cursor: pointer;
    transition: .5s;
    background-color: #D97136;
}

.delPopBtnDelete:hover {
    cursor: pointer;
    transition: .5s;
    background-color: transparent;
}


.titleDelPop {
    font-family: 'Poppins-regular';
    font-size: 1.2rem;
    color: whitesmoke;
}

.textPopDel{
    color: #A0A0A0;
    font-family: 'Poppins-regular';
}