/*--------------------- Fonts ---------------------*/

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Semi/Poppins-SemiBold.woff2') format('woff2'),
     url('../fonts/Poppins-Semi/Poppins-SemiBold.woff') format('woff');
}
@font-face {
    font-family: 'Poppins-regular';
    src: url('../fonts/Poppins-Reg/Poppins-Regular.woff2') format('woff2'),
     url('../fonts/Poppins-Reg/Poppins-Regular.woff') format('woff');
}

/*--------------------- Responsive ---------------------*/

@media screen and (min-width:1200px) {
    .containerAccountPage {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: max-content;
    }
    .containerAccountComp {
        margin-left: 20vw;
        width: 65%;
    }
    .accountCompCont {
        gap: 2vw;
    }
    .accountCompCont {
        flex-direction: row;
    }
    .underlineAccountPage {
        width: 100%;
    }
    .containerEmail {
        padding: 1rem;
        margin: 1rem;
    }
    .backgroundPwd {
        width: 32rem;
    }
    .inputPwd {
        width: 90.5%;
    }
    .googleSpan {
        right: 36vw;
    }
    
}


@media screen and (min-width:900px) and (max-width:1200px) {
    .containerAccountPage {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-right: 15vw;
    }
    .accountCompCont {
        flex-direction: column;
    }
    .underlineAccountPage {
        width: 100%;
    }
    .containerEmail {
        padding: 1rem;
        margin: 1rem;
    }
    .backgroundPwd {
        width: 32rem;
    }
    .inputPwd {
        width: 90.5%;
    }
    .googleSpan {
        right: 30vw;
    }
}

@media screen and (max-width:900px) and (min-width:700px)  {
    .containerAccountPage {
        display: flex;
        flex-direction: column;
    }
    .accountCompCont {
        flex-direction: row;
    }
    .underlineAccountPage {
        width: 95%;
    }
    .containerAccountComp {
        margin-left: 1vw;
    }
    .containerEmail {
        padding: 1rem;
        margin: 1rem;
    }
    .backgroundPwd {
        width: 355px;
    }
    .inputPwd {
        width: 87.5%;
    }
    .googleSpan {
        right: 30vw;
    }
}

@media screen and (max-width:700px) {
    .containerAccountPage {
        display: flex;
        flex-direction: column;
    }
    .accountCompCont {
        flex-direction: column;
    }
    .containerAccountComp {
        align-items: center;
    }
    .underlineAccountPage {
        width: 95%;
    }
    .accountInformationMsg{
        text-align: center;
    }
    .containerEmail {
        margin: 0.8rem;
        padding: 0.8rem;
    }
    .backgroundPwd {
        width: 355px;
    }
    .inputPwd {
        width: 87.5%;
    }
    .googleSpan {
        right: 25vw;
    }
}

/*--------------------- Global ---------------------*/

body {
    background-color: #32333B;
    margin: 0;
}

/*--------------------- Containers ---------------------*/

.accountCompContGlobal{
    width: max-content;
}

.accountCompCont {
    font-family: 'Poppins-regular';
    background-color: #28292F;
    align-items: center;
    justify-content: space-around;
    display: flex;

}

.containerEmail {
    background-color: #32333B;
    border-radius: 15px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.containerEditEmail {
    align-items: center;
    gap: 1vw;
}

.backgroundAccountCont {
    background-color: #D97136;
    border-top-right-radius: 15px ;
    border-top-left-radius: 15px ;
    width: 100%;
    height: 3rem;
}

.containerAccountComp {
    gap: 2vh;
}

.marginContentAccount {
    margin-left: 1vw;
}

.marginh2Del {
    margin-top: 5vh;
    margin-bottom: -0.5rem;
}

.containerBio {
    background-color: rgba(33, 33, 36);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 2rem;
    gap: 1vh;
}

/*--------------------- Texts ---------------------*/

.mainCatAccount {
    font-family: 'Poppins';
    font-size: 1.2rem;
    color: whitesmoke;
}

.usernameAccount {
    font-family: 'Poppins-regular';
    color: whitesmoke;
}

.accountCompEmail  {
    color: whitesmoke;
    margin-left: 0.3rem;
}

.accountCompEmailUser {
   color: #8D8D8D;
   background-color: transparent;
   border-radius: 5px;
   font-weight: 700;
   width: 17rem;
   margin-left: 0.1rem;
   align-items: center;
}

.containerEditEmail input[type="email"]:focus{
    outline: none !important;
    border:2px solid #D36638;
    padding-left: 0.2rem;
    /* padding-right: -0.2rem; */
}

.containerEditEmail button[type="submit"] {
    background-color: transparent;
    border: none;
}

.containerEditEmail input[type="email"] {
    border: 2px solid transparent;
    font-size: 1rem;
    padding: 0.5rem 0rem;
    padding-left : .2rem;
  
}

.googleEditIcon {
    color: #8D8D8D;
    user-select: none;
    cursor: pointer;
}

.accountInformationMsg{
    color: #A0A0A0;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-family: 'Poppins-regular';
}

.bioTitle {
    color: #C2C2C2;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-family: 'Poppins-regular'; 
}

.bioText {
    color: #8D8D8D;
    background-color: transparent;
    border-radius: 5px;
    font-weight: 700;
    margin-left: 0.1rem;
    align-items: center;
}

.containerBio input[type="text"]:focus{
    outline: none !important;
    border:2px dotted #D36638;
    padding-left: 0.2rem;
    /* padding-right: -0.2rem; */
}

.containerBio input[type="text"] {
    border: none;
    border: 2px dotted transparent;
    font-size: 1rem;
    padding: 0.5rem 0rem;
    padding-left : .2rem;
    min-width: 50vw;
 
}

/*--------------------- Buttons ---------------------*/

.btnChangePassword {
    background-color: #D97136;
    width: max-content;
    border-radius: 5px;
    color: whitesmoke;
    border: 3px solid #D97136;
    padding: 0.5rem 1rem;
    font-family: 'Poppins-regular';
    font-weight: 900;
    min-width: 11rem;
}

.btnChangePassword:hover {
    background-color: transparent;
    transition: 0.5s;
    cursor: pointer;
}


.btnDeleteAccount {
    background-color: transparent;
    width: max-content;
    border-radius: 5px;
    min-width: 11rem;
    color: whitesmoke;
    border: 3px solid #D97136;
    padding: 0.5rem 1rem;
    font-family: 'Poppins-regular';
    font-weight: 900;
    margin-top: 2vh;
}

.btnDeleteAccount:hover {
    background-color: #D97136;
    transition: 0.5s;
    cursor: pointer;
}

/*--------------------- Others ---------------------*/

.underlineAccountPage {
    height: 0.1rem;
    background-color: #A0A0A0;
    border-radius: 999px;
}

.imgAccount {
    width: 6rem;
    height: 6rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 999px;
    margin: 1rem;
    border:3px solid #D97136;
}

/*--------------------- Popup del ---------------------*/

#popupDel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    visibility: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.deletePopup {
    padding: 1rem;
    border-radius: 5px;
    background-color: #28292F;
}

.delPopBtnCont {
    justify-content: flex-end;
    margin-top: 1vh;
    gap: 1vw;
}

.delPopBtnCancel{
    background-color: transparent;
}

.delPopBtnDelete{
    background-color: #D97136;
}

.delPopBtn{
    padding: 0.5rem 0.4rem;
    font-size: 0.8rem;
    font-weight: 900;
    border-radius: 5px;
    font-family: 'Poppins-regular';
    border: 2px solid #D97136;
    color: #DADADA;
}

.delPopBtnCancel:hover {
    cursor: pointer;
    transition: .5s;
    background-color: #D97136;
}

.delPopBtnDelete:hover {
    cursor: pointer;
    transition: .5s;
    background-color: transparent;
}


.titleDelPop {
    font-family: 'Poppins-regular';
    font-size: 1.2rem;
    color: whitesmoke;
}

.textPopDel{
    color: #A0A0A0;
    font-family: 'Poppins-regular';
}

/*--------------------- Popup Password ---------------------*/

#popupPwd {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}

.backgroundPwd {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15rem;
    overflow: hidden;
    opacity: 0.5;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    border-radius: 10px 10px 0px 0px;
}

.hidContainer {
    position: relative;   
    width:max-content; 
    height:max-content;
    overflow:hidden;
}

.containerContentEdit {
    justify-content: center;
    width: 100%;
    margin: 1rem;
    gap: 2vh;
}

.circle1 {
    position: absolute;
    width: 12rem;
    height: 12rem;
    border-radius: 999px;
    border: 1.5px solid rgba(211, 102, 56, 0.5);
    background: linear-gradient(180deg, rgba(211, 102, 56, 0.5) 0%, rgba(211, 102, 56, 0) 100%);
}

.circle2 {
    position:absolute;
    width: 20rem;
    height: 20rem;
    border: 1.5px solid rgba(211, 102, 56, 0.2);
    border-radius: 999px;
    background: linear-gradient(180deg, rgba(211, 102, 56, 0.2) 0%, rgba(211, 102, 56, 0) 100%);
}

.circle3{
    position: absolute;
    width: 30rem;
    height: 30rem;
    border-radius: 999px;
    background: linear-gradient(180deg, rgba(211, 102, 56, 0.1) 0%, rgba(211, 102, 56, 0) 100%);
}

.editPwdPopup {
    border-radius: 10px;
    background-color: #212225;
}

.nameEditPop {
    color: #BFBFBF;
    font-family: 'Poppins-regular';
    font-size: 1rem;
}

.inputPwd {
    height: 3rem;
    padding-left: 1rem;
    border-radius: 5px;
    border: none;
    color: #A0A0A0;
    background: rgba(217, 217, 217, 0.05);
}

.containerContentEdit input[type="password"]:focus {
    outline: none;
}

.confirmBtn {
    margin-top: 2vh;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    border: 2px solid #774128;
    color: #C1BEBE ;
    font-family: 'Poppins';
    background: linear-gradient(94.97deg, rgba(211, 102, 56, 0.473) 0%, rgba(211, 102, 56, 0.178) 100%, rgba(211, 102, 56, 0.38) 100%);
}

.confirmBtn:hover {
    transition: .6s;
    cursor: pointer;
    background-color: #774128;
}

a .googleSpan{
    position: fixed;
    align-self: flex-start;
    margin-top: 10px;
    z-index: 999;
    color: #C1BEBE ;
}

a .googleSpan:hover {
    cursor: pointer;
}

.titlePwdPop {
    position: absolute;
    text-align: center;
    margin-top: -400px;
    font-family: 'Poppins';
    color: #CBCBCB;
}