/*------------------ Responsive ------------------*/

@media screen and (max-width:900px) {
    .containerExplorePage {
        flex-direction: column;
        margin: 0rem 1vw;
        margin-top:80px ;
    }
    .containerTopicsExplore {
        margin: 5vh 0;
    }
    .containerCreateComp {
        max-width: 25rem;
    }
    .containerCreateTopic {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem 0;
        padding: 1rem 0;
        border-radius: 10px;
    }
    .exploreTitle {
        width: 100%;
    }
    .containerCreateTopic h1 {
        text-align: center;
    }
}

@media screen and (min-width:900px) and (max-width:1200px) {
    .containerExplorePage {
        flex-direction: column;
        position: absolute;
        justify-content: space-between;
        top: 0 ;
        right: 30px;
        width: calc(100vw - 390px);
    }
    .containerCreateTopic {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem 0;
        padding: 1rem 0;
        border-radius: 10px;
    }
    .containerCreateComp {
        max-width: 25rem;
    }
    .containerCreateTopic h1 {
        text-align: center;
    }
    .containerPagination {
        margin-bottom: 1rem;
    }
    .containerTopicsExplore {
        margin: 5vh 0;
    }
}

@media screen and (min-width:1200px) {
    .containerExplorePage {
        --widthExplorePage :calc(100vw - 370px);
        position: absolute;
        flex-direction: row;
        justify-content: space-between;
        top: 0 ;
        right: 0;
        width: calc(100vw - 350px);
    }
    .containerCreateTopic {
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        padding: 1rem 30px;
    }
    .containerCreateComp {
        margin-top: 6rem;
    }
    .exploreTitle {
        width: 90%;
        margin-bottom: 5vh;
    }
    .containerPagination {
        margin-bottom: 1rem;
    }
    .containerTopicsExplore {
        margin-top: 4vh;
        margin-bottom: 1vh;
    }
}

/*------------------ Animations ------------------*/

@keyframes moveArrowForward {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(10px);
    }

}

@keyframes moveArrowBackward {
    0% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0px);
    }
}

/*------------------ Containers ------------------*/

.containerCreateTopic {
    background-color: #28292F ;
}

.containerExplorePage {
    display: flex;
}

.containerSearchSort {
    flex-wrap: nowrap;
}

.containerTopicsExplore {
    gap: 3vh;
}

.containerTopic{
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .5);
    background-color: #28292F;
}

.containerHeaderTopic {
    padding: 1rem 2rem;
    gap: 2rem;
    background-color: #44454F;
}

.containerExplore {
   width: calc(var(--widthExplorePage) - 450px)
}

.containerFooterTopic {
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;
    padding-bottom: 1rem;
}

.containerPagination {
    width: 100%;
    gap: 1rem;
}

.containerCreateComp {
    justify-content: space-around;
    padding: 1rem;
    border: 2px solid #D36638;
    border-radius: 8px;
}

.containerFormCreate {
    justify-content: space-around;
    gap: 1rem;
}

.tag {
    padding: 0.2rem 1vw;
    font-family: 'Poppins';
    font-size: 12px;
    border-top: 2.5px solid #393a44;
    border-radius: 999px;
    color: whitesmoke;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
    background-color: #2d2f36;
}

.containerTags {
    gap: 1rem;
    padding: 0rem 2rem;
    padding-top: 0.5em;
    margin-bottom: -0.5rem;
}

/*------------------ Texts ------------------*/

.titleCatExplore {
    font-family: 'Poppins';
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    color: whitesmoke;
}

.nameTopic {
    font-family: 'Poppins';
    color: whitesmoke;
}

.datetopic {
    padding: 0rem 2rem;
    font-family: 'Poppins-regular';
    color: #C8C8C8 ;
}

.nbUpvotes {
    font-family: 'Poppins-regular';
    color: #F5F5F5;
}

.exploreTitle {
    padding-top: 1rem;
}

.containerCreateComp h2 {
    text-align: center;
    font-family: 'Poppins';
    font-size: 20px;
    color: whitesmoke;
}

.containerCreateComp label {
    margin-top: 2vh;
    font-family: 'Poppins';
    font-size: 14px;
    color: white;
}

.textNoTopics {
    margin: 5vh 0;
    font-family: 'Poppins';
    font-size: 32px;
    text-align: center;
    color: whitesmoke;
}

.indicationsCreateTopic {
    font-family: 'Poppins-regular';
    color: #929191;
    font-size: 12px;
    text-transform: uppercase;
}

.indicationsCreateTopicSubmit {
    text-align: center;
    margin: 0;
}

/*------------------ Buttons ------------------*/

a {
    text-decoration: none;
}

.bntCheckTopicExplore:hover span{
    animation: moveArrowForward 1s ease;
    animation-fill-mode: forwards;
}

.bntCheckTopicExplore:not(:hover) span {
    animation: moveArrowBackward 1s ease;
    animation-fill-mode: forwards;
}

.submitUploadBtnExplore {
    margin-top: 2vh;
    padding: 0.5rem 1rem;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 2px solid #D36638;
    cursor: pointer;
    font-family: 'Poppins';
    cursor: pointer;
    background-color: #D36638;
}

.submitUploadBtnExplore:hover {
    background-color: transparent;
    transition: .8s;
    color: whitesmoke;
}

.containerBtnImgExplore {
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: -2vh;
    gap: 1rem;
}

.uploadBtnExplore {
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: 2px solid #D36638;
    border-radius: 5px;
    background-color: transparent;
}

.uploadBtnExplore:hover {
    background-color: #D36638;
    transition: .8s;
}

/*------------------ Inputs ------------------*/

input[type="file"] { 
    opacity: 0; 
    z-index: -1; 
    position: absolute; 
}

input[type="file"]:focus + label {
    outline: 2px solid;  
}

.containerFormCreate label input[type="text"]:focus  {
    border: none;
    border-bottom: 1px dotted #D36638;
    outline: none;
}

.containerFormCreate input[type="text"]:focus {
    border: 2px solid #929191;
    outline: none;
}

.inputPagination {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: transparent;
    z-index: 1;
    width: 1.5rem   ;
}

.aboutWhatInput {
    margin-left: 1vw;
    border: none;
    border-bottom: 1px dotted #D36638;
    font-family: 'Poppins';
    color: whitesmoke;
    background-color: transparent;
}

.aboutWhatInput:focus {
    border-bottom: 1px dashed #D36638;
}

.inputDescription {
    padding: 1rem;
    border: 2px solid #929191;
    border-radius: 5px;
    font-family: 'Poppins-regular';
    color: #AEAEAE;
    background-color: transparent;
}

.inputTags {
    padding: 1rem;
    margin-bottom: 2vh;
    border: 2px solid #929191;
    border-radius: 5px;
    font-family: 'Poppins-regular';
    color: #AEAEAE;
    background-color: transparent;
   
}

.searchBar {
    width: 80%;
    padding: .5rem 1rem;
    border: 2px solid #44454F;
    border-radius: 5px;
    font-family: 'Poppins-regular';
    color: #AFAFAF;
    background-color: #28292F;
}

.searchBar:focus {
    outline: none;
    border: 2px solid #D36638;
}

.sort {
    width: 20%;
    padding: .5rem 1rem;
    cursor: pointer;
    border: 2px solid #44454F;
    border-radius: 5px;
    font-family: 'Poppins-regular';
    color: #AFAFAF;
    background-color: #28292F;
}

/*------------------ Others ------------------*/

.imgTopic {
    width: 5rem;
    object-fit: contain;
    border-radius: 999px;
    border: 2px solid #D36638;
}


.bntCheckTopicExplore {
    align-items: center;
    height: 2rem;
    padding: 0rem 1rem;
    gap: 1rem;
    border: 2px solid #D36638;
    border-radius: 999px;
    text-transform: uppercase;
    font-family: 'Poppins';
    font-size: 12px;
    color: whitesmoke;
}

.arrowPagination {
    position: absolute;
    margin-left: -1rem;
    z-index: -1;
    text-decoration: none;
    cursor: pointer;
    color: #D36638;
}

#previous:hover .arrowPagination {
    transition: .5s;
    color: #cc7651d7;
}

#next:hover .arrowPagination {
    transition: .5s;
    color: #c45526b6;
}