/*--------------------- Fonts ---------------------*/

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Semi/Poppins-SemiBold.woff2') format('woff2'),
     url('../fonts/Poppins-Semi/Poppins-SemiBold.woff') format('woff');
}
@font-face {
    font-family: 'Poppins-regular';
    src: url('../fonts/Poppins-Reg/Poppins-Regular.woff2') format('woff2'),
     url('../fonts/Poppins-Reg/Poppins-Regular.woff') format('woff');
}

.cookiesContainer {
    background-color: #28292F;
    border-top-left-radius: 5px;
    gap: 3vh;
    width: max-content;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    visibility:hidden;
}

.textCookies {
    color: whitesmoke;
    font-family: 'Poppins';
    text-align: center;
    width: 80%;
    height: 5rem;
    font-size: 1rem;
    margin: 0;
}

.btnPolicy {
    background-color: #44454F ;
    color: #C6C6C6;
    font-family: 'Poppins-regular';
    width: 80%;
    text-align: center;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    height: 100%;

}

.btnOk {
    background-color: #D36638;
    color: white;
    font-family: 'Poppins';
    width: 20%;
    text-align: center;
    height: 100%;
    padding: 0.5rem 2rem;
    font-size: 1.25rem;

}

.containerBtnCookies {
    align-self: baseline;
    width: 100%;
    align-items: center;
    height: 3rem;
    justify-content: center;
}

a {
    text-decoration: none;
}

.cookieImg {
    width: 8rem;
    height: 8rem;
    padding-top: 1rem;
}