{{ define "automod" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>automod</title>
</head>
<body>
    <div class="containerAutomodPage">
        <!--{{ template "navBar" }} -->
        <div class=""></div>
        <div class="automod">
            {{ $base := . }}
            <div class="reports">
                <h2>Reports:</h2>
                {{ range $report := $base.Reports }}
                    {{ range $user := $base.Users }}
                        {{ range $post := $base.Posts }}
                            {{ if eq $report.ReportUserID $user.UserID }}
                                {{ if eq $post.PostID $report.PostID }}
                                    <div class="report">
                                        <img src={{ $user.ProfilePicture }} alt="ProfilePicture">
                                        <h3>{{ $user.Username }}</h3>
                                        <p>{{ $post.Content }}</p>
                                        <p>Reason : {{ $report.Comment }}</p>
                                    </div>
                                {{ end }}
                            {{ end }}
                        {{ end }}
                    {{ end }}
                {{ end }}
            </div>
            <div class="bannedusers">

            </div>
            <div class="bannedwords">
                <div class="wordsinput">
                    <form method="post">
                        <input class="inputLog" type="text" placeholder="Enter a word"  name="word" id="">
                        <input class="submitbutton" type="submit" value="Submit"></input>
                    </form>
                </div>
                <div class="wordslist">
                    {{range $word := $base.WordsBlacklist }}
                        <div class="word">
                            <p>{{ $word.Word }}</p>
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</body>
</html>
{{ end }}