{{ define "errorPath" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/error.css">
    <link rel="stylesheet" href="../css/easyCss.css">
    <title>Error</title>
</head>
<body >
    {{ template "navBar" . }}
    <div class = "columnContainer alignCenter containerErrorPath">
        <img class="imgError" src="../img/404_error.png" alt="404_img">
        <h1 class="textError">Error : Invalid Url Path</h1>
    </div>
</body>
</html>
{{ end }}