
{{ define "login"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login.css" >
    <link rel="stylesheet" href="../css/easyCss.css">
    <link rel="stylesheet" href="../css/navBar.css">
  
    <title>login</title>
</head>
<body>
    <div class="containerLoginPage">
        {{ template "navBar"}}
        <div class=""></div>
        <div class="columnContainer containerLogin">
            <h1 class="titleLogin">LOGIN</h1>
            <h2 class="subTitleLogin">Please enter your email and password</h2>
            <form method="post" class="columnContainer formStyleLog">
                <h2 class="textCatLogin">Email:</h2>
                <input class="inputLog" type="email" placeholder="Enter an email" name="email" id="">
                <h2 class="textCatLogin">Password:</h2>
                <input class="inputLog" type="password" placeholder="Enter a password"  name="password" id="">
                <div class="rowContainer rememberContainer">
                    <div class="rowContainer alignCenter">
                        <input value="remember" type="checkbox" id="">
                        <label class="remember">Remember Me</label>
                    </div>
                    <div class="submitContainer alignCenter">
                        <input class="submitbutton" type="submit" value="Submit"></input>
                        <i class="submitBackground"></i>
                    </div>
                   
                </div>
            </form>
        </div>
    </div>
</body>
</html>
{{end}}