<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>topic</title>
</head>
<body>
    <div id="main-container">
        <div id="header-topic">
            <img src="{{.Topic.Picture}}">
            <h1>{{.Topic.Title}}</h1>
            {{ if .Topic.IsFollow}}
            <form method="post">
                <input type="text" name="follow" value="follow" hidden>
                <input type="submit" value="unFollow"></input>
            </form>
            {{ else }}
            <form method="post">
                <input type="text" name="follow" value="follow" hidden>
                <input type="submit" value="Follow"></input>
            </form>
            {{end}}
            {{ if .Topic.IsUpvote}}
            <form method="post">
                <input type="text" name="upvote" value="upvote" hidden>
                <input type="submit" value="unUpvote"></input>
            </form>
            {{ else }}
            <form method="post">
                <input type="text" name="upvote" value="upvote" hidden>
                <input type="submit" value="Upvote"></input>
            </form>
            {{end}}
            {{.Topic.Description}}
        </div>
        {{range $Post := .Posts}}
            <img src="{{$Post.ProfilePicture}}">
            {{$Post.AuthorName}}
            {{$Post.StructuredDate}}
            {{$Post.Content}}
            {{$Post.IsLikeByConnectedUser}}
            {{$Post.IsDislikeByConnectedUser}}
            {{$Post.Likes}}
            {{$Post.Dislikes}}
            {{if $Post.IsLikeByConnectedUser}}
                <form method="post">
                    <input type="text" name="unLike" value="{{$Post.PostID}}" hidden>
                    <input type="submit" value="unLike">
                </form>
            {{ else }}
                <form method="post">
                    <input type="text" name="like" value="{{$Post.PostID}}" hidden>
                    <input type="submit" value="like">
                </form>
            {{end}}
            {{if $Post.IsDislikeByConnectedUser}}
                <form method="post">
                    <input type="text" name="unDislike" value="{{$Post.PostID}}" hidden>
                    <input type="submit" value="unDislike">
                </form>
            {{ else }}
                <form method="post">
                    <input type="text" name="dislike" value="{{$Post.PostID}}" hidden>
                    <input type="submit" value="dislike">
                </form>
            {{end}}
        {{end}}
        <div id="create-post-form">
            <form method="post">
                <input type="text" name="postContent" cols="30" rows="10" placeholder="type your post there"></input>
            </form>
        </div>
    </div>
</body>
</html>